@import 'scroll';

.people-page {
  width: 100%;
  padding: 20px;
  overflow-y: auto;

  &__search-form {
    margin: 0 auto 20px;
    width: 30%;
    min-width: 350px;
  }

  &__search-results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;

    overflow-x: hidden;
  }

  &__search-result {
    display: inline-flex;
    min-width: 280px;
  }
}
