<section class='workspace-menu'>
  <section>
    <tui-avatar class='workspace-menu__avatar'
                text='name surname'
                size='l'
                [rounded]='true'
                [autoColor]='true'>
    </tui-avatar>
  </section>
  <section>
    <tui-marker-icon
      src='tuiIconMail'
      routerLink='/messages'
    ></tui-marker-icon>
    <tui-marker-icon
      src='tuiIconUsers'
      routerLink='/people'
    ></tui-marker-icon>
  </section>
  <section>
    <tui-marker-icon
      src='tuiIconSettings'
    ></tui-marker-icon>
  </section>
</section>
