<section class='workspace-menu'>
  <section>
    <tui-avatar class="tui-space_top-1" text="alex inkin" [rounded]="true"></tui-avatar>
  </section>
  <section>
    <tui-marker-icon
      class="custom tui-space_left-1"
      src="tuiIconMail"
    ></tui-marker-icon>
    <tui-marker-icon
      class="custom tui-space_left-1"
      src="tuiIconUsers"
    ></tui-marker-icon>
  </section>
  <section>
    <tui-marker-icon
      class="tui-space_left-1"
      src="tuiIconSettings"
    ></tui-marker-icon>
  </section>
</section>
